<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10661495512-q64m03us5bgvco48i4ucq139gremdivs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10661495512-q64m03us5bgvco48i4ucq139gremdivs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>10661495512-i4gveou0ci6bum9udd65b3gtljqsursl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBen27ADkPC-g2lQlT5O1X_2Q9A6Eaaz7c</string>
	<key>GCM_SENDER_ID</key>
	<string>10661495512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diwan.advertisers</string>
	<key>PROJECT_ID</key>
	<string>makeup-26869</string>
	<key>STORAGE_BUCKET</key>
	<string>makeup-26869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10661495512:ios:675f0f047e13e5076f0dad</string>
	<key>DATABASE_URL</key>
	<string>https://makeup-26869.firebaseio.com</string>
</dict>
</plist>